@charset "UTF-8";

h1,
h2
{
  color: #333333;
}

h3 {
  text-align: center;
  background-color: skyblue;
  color: whitesmoke;
}

body {
  background-color: whitesmoke;
}

div {
  margin: 4px;
}

.result,
.validText
{
  color: #FFFFFF;
  text-align: center;
}

.addTileImage, 
.exeButtons
{
  text-align: center;
}

.handImage
{
  height: 50px;
  text-align: center;
}

.result
{
  height: 100px;
}

.validTile
{
  height: 30px;
  text-align: center;
}