@charset "UTF-8";

h1,
h2
{
  color: #FFFFFF;
}
table {
  width: 400px; /* 表の幅 */
  height: 50px; /* 表の高さ */
  /* 中央揃えにする */
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 7.14%; /* セルの幅 */
  height: 5%; /* セルの高さ */
  background-color: #455A64; /* 背景色 */
}

.result,
.validText
{
  color: #FFFFFF;
  text-align: center;
}

.addTileImage, 
.exeButtons
{
  text-align: center;
}

.handImage
{
  height: 50px;
  text-align: center;
}

.result
{
  height: 100px;
}

.validTile
{
  height: 30px;
  text-align: center;
}