@charset "UTF-8";

h1,
h2
{
  color: #333333;
}

h3 {
  text-align: center;
  background-color: skyblue;
  color: whitesmoke;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #333333;
}

.result,
.validText
{
  color: #FFFFFF;
  text-align: center;
}

.addTileImage, 
.exeButtons
{
  text-align: center;
}

.handImage
{
  height: 50px;
  text-align: center;
}

.result
{
  height: 100px;
}

.validTile
{
  height: 30px;
  text-align: center;
}